<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body class="simon" ng-app="calendarApp">
<div ng-controller="MainController as ctrl" class="wrapper">
<div class="calendar">
  <div class="calendar-current-day">
    {{ctrl.date | date : 'EEEE'}}
  </div>
  <div class="calendar-body">
    <div class="calendar-controls">
      <a href="#" ng-click="ctrl.decreaseDate()">< Previous</a>
        <a>{{ctrl.date | date : 'MMM yyyy'}}</a>
      <a href="#" ng-click="ctrl.increaseDate()">Next ></a>
    </div>
    <div class="calendar-days-of-month">
      <!-- START WEEK -->
      <!-- 7 rows of 5 -->
      <a href="#" class="calendar-day" ng-repeat="day in ctrl.daysOfMonth" ng-click="ctrl.setActiveDay(day)" >
        <span ng-class="{'current' : day === ctrl.day}">{{day}}</span>
      </a>
      <!-- END WEEK -->
    </div>
  </div>
</div>
  
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
  <script src="js/calendar.js"></script>
</body>
</html>